<!--Basic info page where user will be informed about quiz
    Question Type and result 
    A Landing page
-->
<div class="container-fluid">
  <div class="row align-items-center _fullheight">
      <div class="offset-md-3 col-md-6 col-12">
          <div class="p-3">
              <div class="row">
                  <div class="col-12 border-bottom mb-2">
                      <h3><b>Quiz Instructions</b></h3>
                  </div>
                  <div class="col-6 border-bottom mb-2">
                     <h5>Total Point : 10 </h5>
                  </div>
                  <div class="col-6 border-bottom mb-2">
                      <h5>Total Questions : 10 </h5>
                   </div>
                   <div class="col-12 mb-2">
                      <h3>Instructions - </h3>
                  </div>
                  <div class="col-12 mb-2">
                      This quiz consists of 10 multiple-choice questions.<br>
                      Keep the following in mind: <br>
                      <b>Answer - </b> You may review your answer-choices and 
                      compare them to the correct answers after your final attempt.
                  </div>
                  <div class="col-12 mb-2">
                      To start, click the <b>"Take the Quiz"</b> button. When finished, click the <b>"Show Result"</b> button.
                  </div>
                  <div class="col-12 text-right mb-2">
                     <a routerLink="/q/1" class="btn btn-warning text-uppercase text-white">
                        Take the Quiz
                     </a>
                  </div>
              </div>
          </div>
      </div>
  </div>